site_name: Xbox One Research Wiki
site_description: Wiki for everything related to Xbox One/Series-family research.
site_url: https://xboxoneresearch.github.io/wiki
repo_url: https://github.com/xboxoneresearch/wiki

theme:
  name: material
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/github
  features:
    - content.action.view
    - content.action.edit
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

validation:
  nav:
    omitted_files: warn
    not_found: warn
    absolute_links: warn
  links:
    not_found: warn
    absolute_links: warn
    unrecognized_links: warn

plugins:
  - rss
  - search
  - literate-nav:
      nav_file: NAVIGATION.md
      tab_length: 2
  - git-latest-changes:
      limit_to_docs_dir: True
      repo_vendor: github
      enabled_on_serve: False
  - git-authors:
      enabled: !ENV [CI, false]
      show_email_address: false
      strict: false
  - git-revision-date-localized:
      enabled: !ENV [CI, false]
      strict: false
      enable_creation_date: true

markdown_extensions:
  - pymdownx.magiclink
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      use_pygments: true
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
