mkdocs-material
mkdocs-literate-nav
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-rss-plugin
mkdocs-git-latest-changes-plugin @ git+https://github.com/tombreit/mkdocs-git-latest-changes-plugin@60f0bf5ff7ff18ce28f01b80d4c68695f1a3c00c
